{
    "extends": "airbnb",
    "plugins": [
        "react"
    ],
    "env": {
        "browser": true,
        "node": true,
        "mocha": true
    },
    "rules": {
      "no-console": "off",
      "no-underscore-dangle": [2, { "allow": ["_id"] }],
      "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }]
    }
}
